body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(232, 232, 232) 0%,
    rgb(205, 205, 205) 0%,
    rgb(100, 100, 100) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.title{
  box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(249, 170, 0);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0px;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
}

button {
  background: rgb(249, 170, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: rgb(249, 170, 0);
}
p {
  color: red;
}
.label{
  padding-right: 10px;
}
